.logo{
    width: 25%;
}

.fundomenu{
   background-color: darkgray;
}

.minhafonte{
    font-size: 1.5rem;
}

.meufooter{
    margin-top: 250px;
}

.col{
    margin-top: 30px;
    border: 2px solid black;
    padding: 30px;
}